body {
    font-family: Arial, sans-serif;
    background-color: #574f4f; /* Light gray background */
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    max-width: 600px;
    margin: 50px auto;
    background: linear-gradient(135deg, #5ee7df, #66a6ff); /* RGB linear gradient */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease; /* Fade in animation */
}

h1 {
    text-align: center;
    color: #fff; /* White text */
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: inline-block; /* Display labels inline */
    margin-bottom: 5px;
    margin-right: 10px; /* Add margin-right to create space between labels and checkboxes */
    color: #fff; /* White text */
}

.input-group input[type="text"],
.input-group input[type="number"],
.input-group input[type="checkbox"],
.input-group button {
    width: calc(100% - 30px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.9); /* White background with transparency */
    color: #333; /* Dark gray text */
    transition: transform 0.3s ease; /* Add transition effect */
}

.input-group input[type="checkbox"] {
    width: auto;
    margin-right: 5px;
}

.input-group button {
    background-color: #4682B4;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.input-group button:hover {
    background-color: #3577a8;
    transform: scale(1.05); /* Add scaling effect on hover */
}

#password {
    font-size: 16px;
    font-weight: bold;
}

#passwordStrength {
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
    animation: fadeInOut 1s infinite alternate; /* Add animation */
}

#captcha {
    font-size: 16px;
    font-weight: bold;
    animation: slideInFromLeft 1s; /* Add animation */
}

/* Additional Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInOut {
    0% { color: black; }
    100% { color: gray; }
}

@keyframes slideInFromLeft {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(0); }
}
